.elementor-81 .elementor-element.elementor-element-5ec8120 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 64px;
  --padding-bottom: 64px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-81
  .elementor-element.elementor-element-5ec8120:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-81
  .elementor-element.elementor-element-5ec8120
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(../../../uploads/2023/06/Breadcrumb-contact.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-81 .elementor-element.elementor-element-5ec8120,
.elementor-81 .elementor-element.elementor-element-5ec8120:before {
  --border-transition: 0.3s;
}
.elementor-81
  .elementor-element.elementor-element-3e70f00
  .woocommerce-breadcrumb {
  color: #fff;
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  text-align: center;
}
.elementor-81
  .elementor-element.elementor-element-3e70f00
  .woocommerce-breadcrumb
  i {
  color: #fff;
}
.elementor-81
  .elementor-element.elementor-element-3e70f00
  .woocommerce-breadcrumb
  > a:not(:hover) {
  color: #fff;
}
.elementor-81
  .elementor-element.elementor-element-3e70f00
  .woocommerce-breadcrumb
  a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-81
  .elementor-element.elementor-element-3e70f00
  .priotech-woocommerce-title {
  text-align: center;
  color: #fff;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
@media (max-width: 767px) {
  .elementor-81 .elementor-element.elementor-element-5ec8120 {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-81
    .elementor-element.elementor-element-3e70f00
    .priotech-woocommerce-title {
    margin: 0 0 15px;
  }
}
