.elementor-67 .elementor-element.elementor-element-fc05352 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-67
  .elementor-element.elementor-element-fc05352:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-67
  .elementor-element.elementor-element-fc05352
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}
.elementor-67 .elementor-element.elementor-element-fc05352,
.elementor-67 .elementor-element.elementor-element-fc05352:before {
  --border-transition: 0.3s;
}
.elementor-67 .elementor-element.elementor-element-ce8f8cf {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-ce8f8cf.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-67 .elementor-element.elementor-element-8e17bd7 {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.elementor-67 .elementor-element.elementor-element-50cc5a2 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-50cc5a2.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-67 .elementor-element.elementor-element-2a878f3 {
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  width: auto;
  max-width: auto;
}
.elementor-67 .elementor-element.elementor-element-2a878f3.elementor-element {
  --align-self: center;
}
.elementor-67 .elementor-element.elementor-element-d51dce5 .elementor-button {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  line-height: 25px;
  fill: #fff;
  color: #fff;
  background-color: #02010100;
  border-style: none;
  padding: 0;
}
.elementor-67
  .elementor-element.elementor-element-d51dce5
  .elementor-button:hover,
.elementor-67
  .elementor-element.elementor-element-d51dce5
  .elementor-button:focus {
  color: var(--e-global-color-primary);
}
.elementor-67
  .elementor-element.elementor-element-d51dce5
  .elementor-button:hover
  svg,
.elementor-67
  .elementor-element.elementor-element-d51dce5
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-67
  .elementor-element.elementor-element-d51dce5
  > .elementor-widget-container {
  margin: 0 0 0 5px;
}
.elementor-67 .elementor-element.elementor-element-d51dce5 {
  width: auto;
  max-width: auto;
}
.elementor-67 .elementor-element.elementor-element-d51dce5.elementor-element {
  --align-self: center;
}
.elementor-67 .elementor-element.elementor-element-4c6ef6e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 12px;
  padding-bottom: 12px;
}
.elementor-67 .elementor-element.elementor-element-82de0b4 a.hfe-menu-item,
.elementor-67 .elementor-element.elementor-element-82de0b4 a.hfe-sub-menu-item {
  font-weight: 700;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .sub-menu
  a.hfe-sub-menu-item {
  color: #fff;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item
  a.hfe-menu-item:hover,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .menu-item
  a.hfe-menu-item:focus {
  color: var(--e-global-color-primary);
}
.elementor-67 .elementor-element.elementor-element-82de0b4 .sub-menu,
.elementor-67 .elementor-element.elementor-element-82de0b4 nav.hfe-dropdown,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .sub-menu
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  font-size: 14px;
  font-weight: 600;
}
.elementor-67 .elementor-element.elementor-element-82de0b4 ul.sub-menu {
  width: 200px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .sub-menu
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 20px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .hfe-dropdown
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .hfe-dropdown-expandible
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 40px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .hfe-dropdown
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .hfe-dropdown-expandible
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 60px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .hfe-dropdown
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .hfe-dropdown-expandible
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 80px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-67
  .elementor-element.elementor-element-82de0b4
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-67
  .elementor-element.elementor-element-82de0b4
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 0;
}
.elementor-67 .elementor-element.elementor-element-82de0b4 {
  width: auto;
  max-width: auto;
}
.elementor-67 .elementor-element.elementor-element-82de0b4.elementor-element {
  --align-self: flex-end;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 12px;
  padding-bottom: 12px;
}
.elementor-67 .elementor-element.elementor-element-16e633b a.hfe-menu-item,
.elementor-67 .elementor-element.elementor-element-16e633b a.hfe-sub-menu-item {
  font-weight: 700;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .sub-menu
  a.hfe-sub-menu-item {
  color: #fff;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item
  a.hfe-menu-item:hover,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .menu-item
  a.hfe-menu-item:focus {
  color: var(--e-global-color-primary);
}
.elementor-67 .elementor-element.elementor-element-16e633b .sub-menu,
.elementor-67 .elementor-element.elementor-element-16e633b nav.hfe-dropdown,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .sub-menu
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  font-size: 14px;
  font-weight: 600;
}
.elementor-67 .elementor-element.elementor-element-16e633b ul.sub-menu {
  width: 200px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .sub-menu
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 20px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .hfe-dropdown
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .hfe-dropdown-expandible
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 40px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .hfe-dropdown
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .hfe-dropdown-expandible
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 60px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .hfe-dropdown
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  .hfe-dropdown-expandible
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(25px + 80px);
  padding-right: 25px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-67
  .elementor-element.elementor-element-16e633b
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 0;
}
.elementor-67
  .elementor-element.elementor-element-16e633b
  > .elementor-widget-container {
  margin: 0 2px 0 25px;
}
.elementor-67 .elementor-element.elementor-element-16e633b {
  width: auto;
  max-width: auto;
}
.elementor-67 .elementor-element.elementor-element-16e633b.elementor-element {
  --align-self: flex-end;
}
.elementor-67 .elementor-element.elementor-element-690419d {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 10px 10px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0 0 1px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: var(--e-global-color-border);
  --border-color: var(--e-global-color-border);
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-67 .elementor-element.elementor-element-690419d,
.elementor-67 .elementor-element.elementor-element-690419d:before {
  --border-transition: 0.3s;
}
.elementor-67 .elementor-element.elementor-element-3741b39 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-afffd7e {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-afffd7e.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-67 .elementor-element.elementor-element-a35b35b {
  width: var(--container-widget-width, 292px);
  max-width: 292px;
  --container-widget-width: 292px;
  --container-widget-flex-grow: 0;
}
.elementor-67 .elementor-element.elementor-element-5a7f0eb {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-5a7f0eb.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-67
  .elementor-element.elementor-element-b1bf3e5
  .hfe-site-logo-container,
.elementor-67
  .elementor-element.elementor-element-b1bf3e5
  .hfe-caption-width
  figcaption {
  text-align: center;
}
.elementor-67
  .elementor-element.elementor-element-b1bf3e5
  .hfe-site-logo-container
  .hfe-site-logo-img {
  border-style: none;
}
.elementor-67
  .elementor-element.elementor-element-b1bf3e5
  .widget-image-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-67 .elementor-element.elementor-element-b1bf3e5.elementor-element {
  --align-self: center;
}
.elementor-67 .elementor-element.elementor-element-4eebda7.elementor-element {
  --align-self: center;
}
.elementor-67 .elementor-element.elementor-element-073084c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67
  .elementor-element.elementor-element-ea23c61
  .site-header-account
  a
  .account-content
  .content-admin {
  font-weight: 600;
}
.elementor-67
  .elementor-element.elementor-element-ea23c61
  .site-header-account
  a:hover
  .account-content
  .content-content {
  color: var(--e-global-color-primary);
}
.elementor-67
  .elementor-element.elementor-element-ea23c61
  .site-header-account
  a:hover
  .account-content
  .content-admin {
  color: var(--e-global-color-primary);
}
.elementor-67
  .elementor-element.elementor-element-ea23c61
  > .elementor-widget-container {
  margin: 0 0 0 30px;
}
.elementor-67
  .elementor-element.elementor-element-e5c335d
  > .elementor-widget-container {
  margin: 0 20px 0 12px;
}
.elementor-67 .elementor-element.elementor-element-7c1eb73 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 10px 10px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-67 .elementor-element.elementor-element-82ea25f {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-5d30986 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-67 .elementor-element.elementor-element-5d30986.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-67 .elementor-element.elementor-element-f063c8a .main-navigation {
  text-align: center;
}
@media (min-width: 768px) {
  .elementor-67 .elementor-element.elementor-element-ce8f8cf {
    --width: 25%;
  }
  .elementor-67 .elementor-element.elementor-element-50cc5a2 {
    --width: 50%;
  }
  .elementor-67 .elementor-element.elementor-element-4c6ef6e {
    --width: 25%;
  }
  .elementor-67 .elementor-element.elementor-element-afffd7e {
    --width: 30%;
  }
  .elementor-67 .elementor-element.elementor-element-5a7f0eb {
    --width: 40%;
  }
  .elementor-67 .elementor-element.elementor-element-073084c {
    --width: 30%;
  }
  .elementor-67 .elementor-element.elementor-element-5d30986 {
    --width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-67 .elementor-element.elementor-element-ce8f8cf {
    --width: 100%;
  }
  .elementor-67 .elementor-element.elementor-element-afffd7e {
    --width: 50%;
  }
  .elementor-67 .elementor-element.elementor-element-5a7f0eb {
    --width: 100%;
  }
  .elementor-67 .elementor-element.elementor-element-5d30986 {
    --width: 50%;
  }
}
@media (max-width: 1366px) {
  .elementor-67 .elementor-element.elementor-element-a35b35b {
    width: var(--container-widget-width, 252.969px);
    max-width: 252.969px;
    --container-widget-width: 252.969px;
    --container-widget-flex-grow: 0;
  }
  .elementor-67
    .elementor-element.elementor-element-f063c8a
    .main-navigation
    ul.menu
    > li.menu-item
    > a {
    margin: 0 15px;
  }
}
@media (max-width: 1200px) {
  .elementor-67 .elementor-element.elementor-element-a35b35b {
    width: var(--container-widget-width, 201.969px);
    max-width: 201.969px;
    --container-widget-width: 201.969px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 1024px) {
  .elementor-67 .elementor-element.elementor-element-fc05352 {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-67 .elementor-element.elementor-element-ce8f8cf {
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-67 .elementor-element.elementor-element-690419d {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-67 .elementor-element.elementor-element-5a7f0eb {
    --justify-content: space-between;
  }
  .elementor-67 .elementor-element.elementor-element-5a7f0eb.e-con {
    --align-self: center;
  }
  .elementor-67 .elementor-element.elementor-element-b1bf3e5 {
    width: auto;
    max-width: auto;
  }
  .elementor-67 .elementor-element.elementor-element-b1bf3e5.elementor-element {
    --align-self: center;
  }
  .elementor-67 .elementor-element.elementor-element-4eebda7 {
    width: auto;
    max-width: auto;
  }
  .elementor-67 .elementor-element.elementor-element-4eebda7.elementor-element {
    --align-self: center;
  }
  .elementor-67 .elementor-element.elementor-element-7c1eb73 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-67 .elementor-element.elementor-element-fc05352 {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-67 .elementor-element.elementor-element-690419d {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-67 .elementor-element.elementor-element-afffd7e {
    --width: 50%;
  }
  .elementor-67 .elementor-element.elementor-element-5a7f0eb {
    --width: 100%;
  }
  .elementor-67 .elementor-element.elementor-element-7c1eb73 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-67 .elementor-element.elementor-element-5d30986 {
    --width: 50%;
  }
}
