.elementor-34 .elementor-element.elementor-element-30aebe2 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 80px;
  --margin-bottom: 80px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-34 .elementor-element.elementor-element-df9f907 {
  text-align: center;
  width: var(--container-widget-width, 875px);
  max-width: 875px;
  --container-widget-width: 875px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-df9f907
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-34
  .elementor-element.elementor-element-df9f907
  > .elementor-widget-container {
  margin: 0 0 42px;
}
.elementor-34 .elementor-element.elementor-element-df9f907.elementor-element {
  --align-self: center;
}
.elementor-34 .elementor-element.elementor-element-71ed976 {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 24px;
  --margin-top: 0px;
  --margin-bottom: 40px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-34
  .elementor-element.elementor-element-71ed976:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-71ed976
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2023/07/H1-img-13.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-34 .elementor-element.elementor-element-71ed976,
.elementor-34 .elementor-element.elementor-element-71ed976:before {
  --border-transition: 0.3s;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .elementor-video-wrapper {
  text-align: center;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .elementor-video-popup {
  padding: 290px 0;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .priotech-video-popup
  .elementor-video-icon {
  font-size: 24px;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .elementor-video-popup
  .elementor-video-icon {
  width: 100px;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .elementor-video-popup
  .elementor-video-icon {
  height: 100px;
  border-radius: 50%;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .priotech-video-popup
  .elementor-video-icon {
  color: #fff;
}
.elementor-34
  .elementor-element.elementor-element-4ed4937
  .elementor-video-icon:hover {
  color: var(--e-global-color-primary);
}
.elementor-34 .elementor-element.elementor-element-e1a54f9 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-34 .elementor-element.elementor-element-bd6d6b8 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 40px;
}
.elementor-34
  .elementor-element.elementor-element-f81c160
  > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-34
  .elementor-element.elementor-element-f176539
  > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-34 .elementor-element.elementor-element-758498b {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 25px;
  --padding-right: 0px;
}
.elementor-34
  .elementor-element.elementor-element-479fa44
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-34
  .elementor-element.elementor-element-479fa44
  > .elementor-widget-container {
  margin: 0 0 9px;
}
.elementor-34 .elementor-element.elementor-element-b808be7 {
  color: var(--e-global-color-lighter);
  width: var(--container-widget-width, 492px);
  max-width: 492px;
  --container-widget-width: 492px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-b808be7
  > .elementor-widget-container {
  margin: 0 0 22px;
}
.elementor-34
  .elementor-element.elementor-element-1d2980e
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-34
  .elementor-element.elementor-element-1d2980e
  > .elementor-widget-container {
  margin: 0 0 9px;
}
.elementor-34 .elementor-element.elementor-element-4840a24 {
  color: var(--e-global-color-lighter);
  width: var(--container-widget-width, 450px);
  max-width: 450px;
  --container-widget-width: 450px;
  --container-widget-flex-grow: 0;
}
.elementor-34 .elementor-element.elementor-element-2579975 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 72px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-34 .elementor-element.elementor-element-667d929 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-34
  .elementor-element.elementor-element-667d929:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-667d929
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2023/06/about-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-34 .elementor-element.elementor-element-667d929,
.elementor-34 .elementor-element.elementor-element-667d929:before {
  --border-transition: 0.3s;
}
body:not(.rtl) .elementor-34 .elementor-element.elementor-element-e30c106 {
  right: -27.4%;
}
body.rtl .elementor-34 .elementor-element.elementor-element-e30c106 {
  left: -27.4%;
}
.elementor-34 .elementor-element.elementor-element-e30c106 {
  bottom: 7%;
}
.elementor-34 .elementor-element.elementor-element-4a1393b {
  --spacer-size: 750px;
}
.elementor-34 .elementor-element.elementor-element-8d11cf9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 75px;
  --padding-bottom: 80px;
  --padding-left: 80px;
  --padding-right: 80px;
}
.elementor-34
  .elementor-element.elementor-element-8d11cf9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-8d11cf9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-34 .elementor-element.elementor-element-8d11cf9,
.elementor-34 .elementor-element.elementor-element-8d11cf9:before {
  --border-transition: 0.3s;
}
.elementor-34
  .elementor-element.elementor-element-4ddfd47
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-weight: 800;
  text-transform: none;
}
.elementor-34
  .elementor-element.elementor-element-4ddfd47
  > .elementor-widget-container {
  margin: 0 0 16px;
}
.elementor-34 .elementor-element.elementor-element-39b2f92 {
  color: var(--e-global-color-lighter);
  width: var(--container-widget-width, 690px);
  max-width: 690px;
  --container-widget-width: 690px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-39b2f92
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-34 .elementor-element.elementor-element-913afe7 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 90px;
  --padding-right: 0px;
}
.elementor-34 .elementor-element.elementor-element-5b1988f {
  color: var(--e-global-color-secondary);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1px;
}
.elementor-34
  .elementor-element.elementor-element-5b1988f
  > .elementor-widget-container {
  margin: 0 0 18px;
}
.elementor-34 .elementor-element.elementor-element-f3ed885 {
  color: var(--e-global-color-lighter);
  font-weight: 400;
  line-height: 22px;
  width: var(--container-widget-width, 450px);
  max-width: 450px;
  --container-widget-width: 450px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-f3ed885
  > .elementor-widget-container {
  margin: 0 0 30px;
}
.elementor-34 .elementor-element.elementor-element-5c9dc09 {
  color: var(--e-global-color-secondary);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1px;
}
.elementor-34
  .elementor-element.elementor-element-5c9dc09
  > .elementor-widget-container {
  margin: 0 0 18px;
}
.elementor-34 .elementor-element.elementor-element-b15fda0 {
  color: var(--e-global-color-lighter);
  font-weight: 400;
  line-height: 22px;
  width: var(--container-widget-width, 450px);
  max-width: 450px;
  --container-widget-width: 450px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-b15fda0
  > .elementor-widget-container {
  margin: 0 0 30px;
}
.elementor-34 .elementor-element.elementor-element-f21ef98 {
  color: var(--e-global-color-secondary);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1px;
}
.elementor-34
  .elementor-element.elementor-element-f21ef98
  > .elementor-widget-container {
  margin: 0 0 18px;
}
.elementor-34 .elementor-element.elementor-element-cb278b5 {
  color: var(--e-global-color-lighter);
  font-weight: 400;
  line-height: 22px;
  width: var(--container-widget-width, 470px);
  max-width: 470px;
  --container-widget-width: 470px;
  --container-widget-flex-grow: 0;
}
.elementor-34 .elementor-element.elementor-element-aa3f60d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 56px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-34 .elementor-element.elementor-element-3f754ab {
  text-align: center;
  width: var(--container-widget-width, 440px);
  max-width: 440px;
  --container-widget-width: 440px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-3f754ab
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-weight: 800;
  text-transform: none;
}
.elementor-34
  .elementor-element.elementor-element-3f754ab
  > .elementor-widget-container {
  margin: 0 0 35px;
}
.elementor-34 .elementor-element.elementor-element-3f754ab.elementor-element {
  --align-self: center;
}
.elementor-34 .elementor-element.elementor-element-7c778fe {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-34 .elementor-element.elementor-element-43e4f03 {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 24px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 10px;
  --margin-right: 10px;
  --padding-top: 63px;
  --padding-bottom: 70px;
  --padding-left: 60px;
  --padding-right: 60px;
}
.elementor-34
  .elementor-element.elementor-element-43e4f03:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-43e4f03
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-34 .elementor-element.elementor-element-43e4f03,
.elementor-34 .elementor-element.elementor-element-43e4f03:before {
  --border-transition: 0.3s;
}
.elementor-34 .elementor-element.elementor-element-ab1b79b {
  --icon-box-icon-margin: 25px;
}
.elementor-34
  .elementor-element.elementor-element-ab1b79b
  .elementor-icon-box-title {
  margin-bottom: 15px;
  color: var(--e-global-color-secondary);
}
.elementor-34 .elementor-element.elementor-element-ab1b79b .elementor-icon {
  font-size: 63px;
}
.elementor-34
  .elementor-element.elementor-element-ab1b79b
  .elementor-icon-box-title,
.elementor-34
  .elementor-element.elementor-element-ab1b79b
  .elementor-icon-box-title
  a {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
}
.elementor-34
  .elementor-element.elementor-element-ab1b79b
  .elementor-icon-box-description {
  color: var(--e-global-color-lighter);
}
.elementor-34 .elementor-element.elementor-element-f1f1d37 {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 24px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 10px;
  --margin-right: 10px;
  --padding-top: 63px;
  --padding-bottom: 70px;
  --padding-left: 60px;
  --padding-right: 60px;
}
.elementor-34
  .elementor-element.elementor-element-f1f1d37:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-f1f1d37
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-34 .elementor-element.elementor-element-f1f1d37,
.elementor-34 .elementor-element.elementor-element-f1f1d37:before {
  --border-transition: 0.3s;
}
.elementor-34 .elementor-element.elementor-element-870a32c {
  --icon-box-icon-margin: 25px;
  width: var(--container-widget-width, 320px);
  max-width: 320px;
  --container-widget-width: 320px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-870a32c
  .elementor-icon-box-title {
  margin-bottom: 15px;
  color: var(--e-global-color-secondary);
}
.elementor-34 .elementor-element.elementor-element-870a32c .elementor-icon {
  font-size: 63px;
}
.elementor-34
  .elementor-element.elementor-element-870a32c
  .elementor-icon-box-title,
.elementor-34
  .elementor-element.elementor-element-870a32c
  .elementor-icon-box-title
  a {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
}
.elementor-34
  .elementor-element.elementor-element-870a32c
  .elementor-icon-box-description {
  color: var(--e-global-color-lighter);
}
.elementor-34 .elementor-element.elementor-element-870a32c.elementor-element {
  --align-self: center;
}
.elementor-34 .elementor-element.elementor-element-e7a7d4b {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 24px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 10px;
  --margin-right: 10px;
  --padding-top: 63px;
  --padding-bottom: 70px;
  --padding-left: 60px;
  --padding-right: 60px;
}
.elementor-34
  .elementor-element.elementor-element-e7a7d4b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-e7a7d4b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-34 .elementor-element.elementor-element-e7a7d4b,
.elementor-34 .elementor-element.elementor-element-e7a7d4b:before {
  --border-transition: 0.3s;
}
.elementor-34 .elementor-element.elementor-element-0630bbb {
  --icon-box-icon-margin: 25px;
  width: var(--container-widget-width, 345px);
  max-width: 345px;
  --container-widget-width: 345px;
  --container-widget-flex-grow: 0;
}
.elementor-34
  .elementor-element.elementor-element-0630bbb
  .elementor-icon-box-title {
  margin-bottom: 15px;
  color: var(--e-global-color-secondary);
}
.elementor-34 .elementor-element.elementor-element-0630bbb .elementor-icon {
  font-size: 63px;
}
.elementor-34
  .elementor-element.elementor-element-0630bbb
  .elementor-icon-box-title,
.elementor-34
  .elementor-element.elementor-element-0630bbb
  .elementor-icon-box-title
  a {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
}
.elementor-34
  .elementor-element.elementor-element-0630bbb
  .elementor-icon-box-description {
  color: var(--e-global-color-lighter);
}
.elementor-34 .elementor-element.elementor-element-0630bbb.elementor-element {
  --align-self: center;
}
.elementor-34 .elementor-element.elementor-element-7b9a674 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 80px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-34
  .elementor-element.elementor-element-7b9a674:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-34
  .elementor-element.elementor-element-7b9a674
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2023/06/about-bg1.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-34 .elementor-element.elementor-element-7b9a674,
.elementor-34 .elementor-element.elementor-element-7b9a674:before {
  --border-transition: 0.3s;
}
.elementor-34 .elementor-element.elementor-element-66ee2c4 .inner {
  padding: 0 0 42px;
}
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .elementor-testimonial-item-wrapper
  .inner {
  text-align: center;
}
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .elementor-testimonial-item-wrapper
  .testimonial-caption {
  justify-content: center;
}
.elementor-34 .elementor-element.elementor-element-66ee2c4 .name {
  margin-bottom: 4px;
}
.elementor-34 .elementor-element.elementor-element-66ee2c4 {
  --e-global-column-to-show: 1;
  width: var(--container-widget-width, 610px);
  max-width: 610px;
  --container-widget-width: 610px;
  --container-widget-flex-grow: 0;
}
body:not(.rtl)
  .elementor-34
  .elementor-element.elementor-element-66ee2c4
  .swiper-slide {
  width: calc((100% - 0px * (1 - 1)) / 1);
  margin-right: 0;
}
body.rtl
  .elementor-34
  .elementor-element.elementor-element-66ee2c4
  .swiper-slide {
  width: calc((100% - 0px * (1 - 1)) / 1);
  margin-left: 0;
}
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .priotech-swiper-wrapper
  .elementor-swiper-button
  i {
  font-size: 15px;
}
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .elementor-swiper-button.elementor-swiper-button-next {
  width: 60px;
  height: 60px;
}
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .elementor-swiper-button.elementor-swiper-button-next {
  top: 35%;
  bottom: unset;
  left: unset;
  right: -54%;
}
.elementor-34
  .elementor-element.elementor-element-66ee2c4
  .elementor-swiper-button.elementor-swiper-button-prev {
  top: 35%;
  bottom: unset;
  left: -54%;
  right: unset;
}
.elementor-34 .elementor-element.elementor-element-66ee2c4.elementor-element {
  --align-self: center;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta__content {
  min-height: 520px;
  padding: 78px 40px 94px 94px;
}
.elementor-34 .elementor-element.elementor-element-6ed760f .skeleton-item {
  min-height: 520px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .skeleton-item:before {
  padding-top: 520px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f.elementor-widget-priotech-banner.box-align-left
  .elementor-cta
  .elementor-cta__content {
  justify-content: flex-start;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta__bg-wrapper {
  border-radius: 24px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta__content_inner {
  width: 490px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta__title {
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 54px;
  letter-spacing: -1px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta__title.elementor-content-item {
  margin-bottom: 20px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta__description {
  font-size: 16px;
  line-height: 20px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-content-item.elementor-cta__description {
  margin-bottom: 48px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f.description-effects-yes
  .elementor-content-item.elementor-cta__description {
  margin-bottom: 0;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f.description-effects-yes:hover
  .elementor-content-item.elementor-cta__description {
  margin-bottom: 48px;
}
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta
  .elementor-cta__bg,
.elementor-34
  .elementor-element.elementor-element-6ed760f
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 0.3s;
}
@media (min-width: 768px) {
  .elementor-34 .elementor-element.elementor-element-30aebe2 {
    --content-width: 1280px;
  }
  .elementor-34 .elementor-element.elementor-element-667d929 {
    --width: 48.5%;
  }
  .elementor-34 .elementor-element.elementor-element-8d11cf9 {
    --width: 51%;
  }
  .elementor-34 .elementor-element.elementor-element-aa3f60d {
    --content-width: 1560px;
  }
}
@media (max-width: 1366px) {
  .elementor-34 .elementor-element.elementor-element-aa3f60d {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-next {
    left: unset;
    right: -40%;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-prev {
    left: -40%;
    right: unset;
  }
}
@media (max-width: 1200px) {
  .elementor-34 .elementor-element.elementor-element-913afe7 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 0px;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-next {
    left: unset;
    right: -25%;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-prev {
    left: -25%;
    right: unset;
  }
}
@media (max-width: 1024px) {
  .elementor-34 .elementor-element.elementor-element-8d11cf9 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-66ee2c4 .inner {
    padding: 0 0 30px;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-next {
    left: unset;
    right: -15%;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-prev {
    left: -15%;
    right: unset;
  }
}
@media (max-width: 880px) {
  .elementor-34 .elementor-element.elementor-element-43e4f03 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-f1f1d37 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-e7a7d4b {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-next {
    left: unset;
    right: -10%;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-prev {
    left: -10%;
    right: unset;
  }
  .elementor-34
    .elementor-element.elementor-element-6ed760f
    .elementor-cta__content {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-34 .elementor-element.elementor-element-30aebe2 {
    --margin-top: 60px;
    --margin-bottom: 60px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-34
    .elementor-element.elementor-element-df9f907
    > .elementor-widget-container {
    margin: 0 0 30px;
  }
  .elementor-34
    .elementor-element.elementor-element-4ed4937
    .elementor-video-popup {
    padding: 150px 0;
  }
  .elementor-34 .elementor-element.elementor-element-bd6d6b8 {
    --padding-top: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-34 .elementor-element.elementor-element-f81c160 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-f176539 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-11a839f {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-758498b {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-34 .elementor-element.elementor-element-479fa44 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-b808be7 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-1d2980e {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-4840a24 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-4a1393b {
    --spacer-size: 360px;
  }
  .elementor-34 .elementor-element.elementor-element-8d11cf9 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-34 .elementor-element.elementor-element-4ddfd47 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-39b2f92 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-913afe7 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-34 .elementor-element.elementor-element-5b1988f {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-f3ed885 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-5c9dc09 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-b15fda0 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-f21ef98 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-cb278b5 {
    text-align: center;
  }
  .elementor-34 .elementor-element.elementor-element-aa3f60d {
    --margin-top: 0px;
    --margin-bottom: 40px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-34
    .elementor-element.elementor-element-3f754ab
    .elementor-heading-title {
    font-size: 32px;
  }
  .elementor-34
    .elementor-element.elementor-element-3f754ab
    > .elementor-widget-container {
    margin: 0 0 30px;
  }
  .elementor-34 .elementor-element.elementor-element-43e4f03 {
    --margin-top: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-f1f1d37 {
    --margin-top: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-e7a7d4b {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-7b9a674 {
    --margin-top: 0px;
    --margin-bottom: 60px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-next {
    left: unset;
    right: -50%;
  }
  .elementor-34
    .elementor-element.elementor-element-66ee2c4
    .elementor-swiper-button.elementor-swiper-button-prev {
    left: -50%;
    right: unset;
  }
  .elementor-34
    .elementor-element.elementor-element-6ed760f
    .elementor-cta__content {
    min-height: 400px;
    padding: 30px;
  }
  .elementor-34 .elementor-element.elementor-element-6ed760f .skeleton-item {
    min-height: 400px;
  }
  .elementor-34
    .elementor-element.elementor-element-6ed760f
    .skeleton-item:before {
    padding-top: 400px;
  }
  .elementor-34
    .elementor-element.elementor-element-6ed760f
    .elementor-cta__title {
    font-size: 30px;
    line-height: 40px;
  }
}
