.env
.env.*
!.env.example

vendor/
node_modules/
wp-content/cache/*
!wp-content/cache/autoptimize/
!wp-content/cache/autoptimize/css/
!wp-content/cache/autoptimize/css/*.css

*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

*.pem
*.key
id_rsa*
id_ed25519*
